<!DOCTYPE html>
<html>
<head lang="en" style="font-size: 100px;">
    <meta charset="UTF-8">
    <title>散标列表</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="./scatterList.css"/>
</head>
<body>
<div id="app">

        <!--header-->
        <div class="top">
            <h1>散标理财</h1>
        </div>
        <!--content-->
        <div class="scatterCont">
            <div class="con">
                <div class="conTop">
                    <div class="box-tit clearfix">
                        <span class="box-tit-left">车贷123</span>
                        <span class="box-tit-right first">保本保息</span>
                        <!--<span class="box-tit-right second">0风险</span>-->
                    </div>
                    <div class="box-content">
                        <div class="benefit clearfix">
                            <div class="benefit-box">
                                <span class="benefit-tit">年化收益率(%)</span>
                                <span class="benefit-num"><b>8</b>.00</span>
                            </div>
                            <i class="box-con-line"></i>
                        </div>
                        <div class="deadline">
                            <div class="deadline-box">
                                <span class="deadline-tit">期限(天)</span>
                                <span class="deadline-num">120</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="box-bottom clearfix">
                    <li>
                        <span class="sb-sand">一次还本付息</span>
                    </li>
                    <li>
                        <span class="sb-snap"> 起投金额 5,000元</span>
                    </li>
                </ul>
                <div class="lineOwn linerOne">
                    <div class="frame">40.7</div>

                    <div class="linerBot">
                        <span class="liner"></span>
                    </div>
                </div>
            </div>
            <div class="con">
                <div class="conTop">
                    <div class="box-tit clearfix">
                        <span class="box-tit-left">个人消费贷</span>
                        <span class="box-tit-right first">保本保息</span>
                        <span class="box-tit-right second">0风险</span>
                    </div>
                    <div class="box-content">
                        <div class="benefit">
                            <div class="benefit-box">
                                <span class="benefit-tit">年化收益率(%)</span>
                                <span class="benefit-num"><b>14</b>.88</span>
                            </div>
                            <i class="box-con-line"></i>
                        </div>
                        <div class="deadline">
                            <div class="deadline-box">
                                <span class="deadline-tit">期限(天)</span>
                                <span class="deadline-num">110</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="box-bottom clearfix">
                    <li>
                        <span class="sb-sand">一次还本付息</span>
                    </li>
                    <li>
                        <span class="sb-snap"> 起投金额 5,000元</span>

                    </li>
                </ul>
                <div class="lineOwn linerTwo">
                    <div class="frame">75.3</div>

                    <div class="linerBot">
                        <span class="liner"></span>
                    </div>
                </div>
            </div>
            <div class="con">
                <div class="conTop">
                    <div class="box-tit clearfix">
                        <span class="box-tit-left">融资租赁贷</span>
                        <span class="box-tit-right first">保本保息</span>
                        <!--<span class="box-tit-right second">0风险</span>-->
                    </div>
                    <div class="box-content">
                        <div class="benefit">
                            <div class="benefit-box">
                                <span class="benefit-tit">年化收益率(%)</span>
                                <span class="benefit-num"><b>14</b>.88</span>
                            </div>
                            <i class="box-con-line"></i>
                        </div>
                        <div class="deadline">
                            <div class="deadline-box">
                                <span class="deadline-tit">期限(天)</span>
                                <span class="deadline-num">110</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="box-bottom clearfix">
                    <li>
                        <span class="sb-sand">一次还本付息</span>
                    </li>
                    <li>
                        <span class="sb-snap"> 起投金额 5,000元</span>

                    </li>
                </ul>
                <div class="lineOwn linerThree">
                    <div class="frame"><span>61.2</span></div>

                    <div class="linerBot">
                        <span class="liner"></span>
                    </div>
                </div>
            </div>
            <div class="con">
                <div class="conTop">
                    <div class="box-tit clearfix">
                        <span class="box-tit-left">融资租赁贷</span>
                        <span class="box-tit-right first">保本保息</span>
                        <!--<span class="box-tit-right second">0风险</span>-->
                    </div>
                    <div class="box-content">
                        <div class="benefit">
                            <div class="benefit-box">
                                <span class="benefit-tit">年化收益率(%)</span>
                                <span class="benefit-num"><b>14</b>.88</span>
                            </div>
                            <i class="box-con-line"></i>
                        </div>
                        <div class="deadline">
                            <div class="deadline-box">
                                <span class="deadline-tit">期限(天)</span>
                                <span class="deadline-num">110</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="box-bottom clearfix">
                    <li>
                        <span class="sb-sand">一次还本付息</span>
                    </li>
                    <li>
                        <span class="sb-snap"> 起投金额 5,000元</span>

                    </li>
                </ul>
                <div class="lineOwn linerThree">
                    <div class="frame"><span>61.2</span></div>

                    <div class="linerBot">
                        <span class="liner"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
<script src="../js/reset.js"></script>
<script src="./scatterList.js"></script>
</html>
