<!DOCTYPE html>
<html>
<head lang="en" style="font-size: 100px;">
    <meta charset="UTF-8">
    <title>投资记录</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="./investment.css"/>
</head>
<body>
<div id="app">
    <div class="scatterCont">
        <div class="con">
            <div class="clearfix">
                <span class="conTopLeft">车贷123</span>
                <span class="conTopRight">购买金额<i class="rightNum">1,000,000</i></span>
            </div>
            <div class="conMiddle clearfix">
                <div class="rate">
                    <span class="rate-tit">年化收益率(%)</span>
                    <span class="rate-num"><b>8</b>.00</span>
                </div>
                <span class="middleLine"></span>
                <div class="deadline">
                    <span class="deadline-tit">期限(天)</span>
                    <span class="deadline-num">120</span>
                </div>
                <span class="middleLine"></span>
                <div class="benefit">
                    <span class="benefit-tit">预计今日收益</span>
                    <span class="benefit-num"><b>14</b>.56</span>
                </div>
            </div>
            <ul class="conBottom clearfix">
                <li>
                    <span class="sb-sand">购买日 <i>2016.04.16</i></span>
                </li>
                <li>
                    <span class="sb-snap">截标日 <i>2016.07.30</i></span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="../js/reset.js"></script>

</html>