<!DOCTYPE html>
<html>
<head lang="en" style="font-size: 100px;">
    <meta charset="UTF-8">
    <title>我的银行卡</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="./mycard.css"/>
</head>
<body>
<div id="app">
    <div class="top">
        <a href="#" class="call-Back"></a>
        <h1>我的银行卡</h1>
    </div>
    <div class="bank clearfix">
        <div class="bank-icon">
            <div class="bank-icon-msg">
                <span></span>
            </div>
        </div>
        <div class="bank-msg">
            <p>交通银行</p>
            <span class="bank-type">储蓄卡</span>
            <div class="bank-card">
                <span class="bank-card-left">**** **** ****</span>
                <span class="bank-card-right">5437</span>
            </div>
        </div>
    </div>
    <div class="add-bank">
        <span class="add-des">添加银行卡</span>
    </div>
</div>

</body>
<script src="../js/reset.js"></script>

</html>