<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="./reset.css" rel="stylesheet"></head>
    <link href="./bank.css" rel="stylesheet"></head>
  </head>
  <body>
    <div class="content">
      <div class="body">
        <div class="title clearfix">
          <span class="image"></span>
          <span class="des">支持绑定的银行卡及限额</span>
        </div>
        <div class="table">
            <div class="title clearfix">
              <div class="left">银行卡名称</div>
              <div class="right">
                <div class="top">限额</div>
                <div class="down">
                  <div>实时单笔</div>
                  <div>实时限额</div>
                </div>
              </div>
            </div>
            <div class="infos">
              <div class="info">
                <span class="info-1">工商银行</span>
                <span class="info-2">5万</span>
                <span class="info-2">5万</span>
              </div>
              <div class="info">
                <span class="info-1">工商银行</span>
                <span class="info-2">5万</span>
                <span class="info-2">5万</span>
              </div>
              <div class="info">
                <span class="info-1">工商银行</span>
                <span class="info-2">5万</span>
                <span class="info-2">5万</span>
              </div>
              <div class="info">
                <span class="info-1">工商银行</span>
                <span class="info-2">5万</span>
                <span class="info-2">5万</span>
              </div>
              <div class="info">
                <span class="info-1">工商银行</span>
                <span class="info-2">5万</span>
                <span class="info-2">5万</span>
              </div>
              <div class="info">
                <span class="info-1">工商银行</span>
                <span class="info-2">500000</span>
                <span class="info-2">5万</span>
              </div>
              <div class="info">
                <span class="info-1">工商银行</span>
                <span class="info-2">5万</span>
                <span class="info-2">无限额</span>
              </div>
            </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="./reset.js"></script>
  </body>
</html>
