<!DOCTYPE html>
<html>
<head lang="en" style="font-size: 100px;">
    <meta charset="UTF-8">
    <title>固收理财</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="./fixed.css"/>
</head>
<body>
<div id="app">
    <!--header-->
    <div class="top">
        <h1>固收理财</h1>
    </div>
    <!--content-->
    <div class="fixedCont">
        <div class="con">
            <div class="conTop">
                <div class="box-tit clearfix">
                    <span class="box-tit-left">聚诚宝</span>
                    <span class="box-tit-right first">保本保息</span>
                    <!--<span class="box-tit-right second">0风险</span>-->
                </div>
                <div class="box-content">
                    <div class="benefit clearfix">
                        <div class="benefit-box">
                            <span class="benefit-tit">年化收益率(%)</span>
                            <span class="benefit-num"><b>8</b>.00</span>
                        </div>
                        <i class="box-con-line"></i>
                    </div>
                    <div class="deadline">
                        <div class="deadline-box">
                            <span class="deadline-tit">期限(天)</span>
                            <span class="deadline-num">120</span>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="box-bottom clearfix">
                <li>
                    <span class="sb-sand">一次还本付息</span>
                </li>
                <li>
                    <span class="sb-snap"> 起投金额 5,000元</span>
                </li>
            </ul>
            <div class="linerOne">
                <div class="start">即将发售</div>
                <div class="triangle"></div>
                <div class="liner linerStart"></div>
            </div>
        </div>
        <div class="con">
            <div class="conTop">
                <div class="box-tit clearfix">
                    <span class="box-tit-left">汇赚钱</span>
                    <span class="box-tit-right first">保本保息</span>
                    <span class="box-tit-right second">高收益</span>
                </div>
                <div class="box-content">
                    <div class="benefit">
                        <div class="benefit-box">
                            <span class="benefit-tit">年化收益率(%)</span>
                            <span class="benefit-num"><b>14</b>.88</span>
                        </div>
                        <i class="box-con-line"></i>
                    </div>
                    <div class="deadline">
                        <div class="deadline-box">
                            <span class="deadline-tit">期限(天)</span>
                            <span class="deadline-num">110</span>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="box-bottom clearfix">
                <li>
                    <span class="sb-sand">一次还本付息</span>
                </li>
                <li>
                    <span class="sb-snap"> 起投金额 5,000元</span>

                </li>
            </ul>
            <div class="linerTwo">
                <div class="end">已售罄</div>
                <div class="triangle2"></div>
                <div class="liner linerEnd"></div>
            </div>
        </div>

    </div>
    <!--footer-->
    <div class="fixedFoot"></div>
</div>

</body>
<script src="../js/reset.js"></script>

</html>
