<!DOCTYPE html>
<html>
<head lang="en" style="font-size: 100px;">
    <meta charset="UTF-8">
    <title>资产一览</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="./assets.css"/>
</head>
<body>
<div id="app">

    <!--header-->
    <div class="top">
        <a href="#" class="call-Back"></a>
        <h1>资产一览</h1>
    </div>
    <!--content-->
    <div class="assetsCont">
        <svg width="4.4rem" height="4.4rem" style="margin-left: 0.6rem">
            <circle class="circle" cx="2.2rem" cy="2.2rem" r="1.5rem" stroke-width=".25rem" stroke="#FFFFFF" fill="none"></circle>
            <circle class="circle"  cx="2.2rem" cy="2.2rem" r="1.5rem" stroke-width=".25rem" stroke="#ff9394" fill="none" transform="matrix(0,-1,1,0,0,4.4rem)" stroke-dasharray="0 1069"></circle>
            <circle class="circle"  cx="2.2rem" cy="2.2rem" r="1.5rem" stroke-width=".25rem" stroke="#ffcc80" fill="none" transform="matrix(0,-1,1,0,0,4.4rem)" stroke-dasharray="0 1069"></circle>
            <circle class="circle"  cx="2.2rem" cy="2.2rem" r="1.5rem" stroke-width=".25rem" stroke="#ffe0b2" fill="none" transform="matrix(0,-1,1,0,0,4.4rem)" stroke-dasharray="0 1069"></circle>
            <circle class="circle"  cx="2.2rem" cy="2.2rem" r="1.5rem" stroke-width=".25rem" stroke="#ffb74d" fill="none" transform="matrix(0,-1,1,0,0,4.4rem)" stroke-dasharray="0 1069"></circle>
            <circle class="circle"  cx="2.2rem" cy="2.2rem" r="1.5rem" stroke-width=".25rem" stroke="#fe5556" fill="none" transform="matrix(0,-1,1,0,0,4.4rem)" stroke-dasharray="0 1069"></circle>
            <circle class="circle"  cx="2.2rem" cy="2.2rem" r="1.5rem" stroke-width=".25rem" stroke="#ff7a7b" fill="none" transform="matrix(0,-1,1,0,0,4.4rem)" stroke-dasharray="0 1069"></circle>
        </svg>
        <div class="assetsTotal">
                <span class="totalTit">总资产(元)</span>
                <span class="totalNum">18,540.08</span>
        </div>
        <div class="totalList">
            <div class="list listR"></div>
            <span class="listLeft">可用金额</span>
            <span class="listRight">18320.88</span>
        </div>
        <div class="totalList">
            <div class="list listO"></div>
            <span class="listLeft">冻结金额</span>
            <span class="listRight">113.26</span>
        </div>
        <div class="totalList">
            <div class="list listY"></div>
            <span class="listLeft">待收本金</span>
            <span class="listRight">1155.85</span>
        </div>
        <div class="totalList">
            <div class="list listB"></div>
            <span class="listLeft">待收利息</span>
            <span class="listRight">113.26</span>
        </div>
        <div class="totalList">
            <div class="list listLB"></div>
            <span class="listLeft">已收利息</span>
            <span class="listRight">65.14</span>
        </div>
        <div class="totalList">
            <div class="list listP"></div>
            <span class="listLeft">累计收益</span>
            <span class="listRight">1000.23</span>
        </div>
    </div>
    <!--footer-->
    <div class="scatterFoot"></div>


</div>

</body>
<script src="../js/reset.js"></script>
<script src="assets.js"></script>
</html>
