<!DOCTYPE html>
<html>
<head lang="en" style="font-size: 100px;">
    <meta charset="UTF-8">
    <title>购买详情</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="./buyDetail.css"/>
</head>
<body>
<div id="app">

    <!--header-->
    <div class="top">
        <a href="#" class="call-Back"></a>
        <h1>购买详情</h1>
    </div>
    <!--content-->
    <div class="bg">
        <div class="oneFloor">
            <div class="titIcon"></div>

            <span class="todayInvest">今日投资<i>2016.9.13</i></span>
            <span class="startBearing">开始计息<i>2016.9.14</i></span>
            <span class="loginOut">可退出<i>2016.12.14</i></span>

        </div>
    </div>

    <div class="bg mt3">
        <div class="twoFloor">
            <ul class="buyList">
                <li>投资金额 <span>10000</span></li>
                <li>预计收益 <span>2598.43</span></li>
                <!--<li class="noBorder">还款计划 <i></i></li>-->
            </ul>
        </div>
    </div>

    <!--footer-->
    <div class="scatterFoot"></div>


</div>

</body>
<script src="../js/reset.js"></script>

</html>