<!DOCTYPE html>
<html lang="en" style="font-size: 100px;">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../css/reset.css" rel="stylesheet"></head>
    <link href="./home.css" rel="stylesheet"></head>
  </head>
  <body>
    <div id="app">
        <!-- 头部 -->
        <div class="home-Top clearfix">
          <span class="call-Back"></span>
          <span class="call-Back-Des">返回</span>
        </div>
        <!-- 轮播图 -->
        <div class="home-Banner">
          banner图
        </div>
        <!-- 介绍 -->
        <div class="home-Des clearfix">
          <span>品牌介绍</span>
          <span>安全保障</span>
          <span>常见问题</span>
        </div>
        
        <!--展示区域-->
        <div class="home-Content">
          <div class="home-Content-Main">
            <div class="home-Content-Main-1 clearfix">
              <span class="title-1">汇赚钱</span>
              <span class="title-3">保本信息</span>
              <span class="title-2"></span>
            </div>
            <div class="home-Content-Main-2 clearfix">
              <div class="left">
                左边
              </div>
              <div class="right">
                <svg width="1rem" height="1rem" viewbox="0 0 440 440">
                  <circle cx="220" cy="220" r="170" stroke-width="50" stroke="#D1D3D7" fill="none"></circle>
                  <circle cx="220" cy="220" r="170" stroke-width="50" stroke="#00A5E0" fill="none" transform="matrix(0,-1,1,0,0,440)" stroke-dasharray="0 1069"></circle>
                </svg>
              </div>
            </div>
            <div></div>
          </div>
        </div>
        <!-- 底部 -->
        <div class="home-Footer">
          
        </div>
    </div>





<!-- <script type="text/javascript">
  if (window.addEventListener) {
      var circle = document.querySelectorAll("circle")[1];
      var percent = 90 / 100, perimeter = Math.PI * 2 * 170;
              circle.setAttribute('stroke-dasharray', perimeter * percent + " " + perimeter * (1- percent));
  }
</script> -->

    
    <script type="text/javascript" src="../js/reset.js"></script>
    <script type="text/javascript" src="./home.js"></script>
  </body>
</html>
