<!DOCTYPE html>
<html lang="en" style="font-size: 100px;">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../css/reset.css" rel="stylesheet"></head>
    <link href="./home.css" rel="stylesheet"></head>
  </head>
  <body>
    <div id="app">
        <!-- 头部 -->
        <div class="home-Top clearfix">
          <span class="call-Back"></span>
          <span class="title">汇赚钱</span>
        </div>
        <!-- 轮播图 -->
        <div class="home-Banner">
          banner图
        </div>
        <!-- 介绍 -->
        <div class="home-Des clearfix">
          <div class="home-Des-Info">
            <span class="icon-1"></span>
            <div>品牌介绍</div>
          </div>
          <div class="home-Des-Info">
            <div><span class="icon-2"></span></div>
            <div>安全保障</div>
          </div>
          <div class="home-Des-Info">
            <div><span class="icon-3"></span></div>
            <div>常见问题</div>
          </div>
          <div class="home-Des-Info">
            <div><span class="icon-4"></span></div>
            <div>特别说明</div>
          </div>
        </div>
        
        <!--展示区域-->
        <div class="home-Content">

          <div class="home-Content-Main">
            <div class="home-Content-Main-1 clearfix">
              <span class="title-1">聚诚宝:测试数据一定要长</span>
              <span class="title-3">保本信息</span>
              <span class="title-2">新手标</span>
            </div>
            <div class="home-Content-Main-2 clearfix">
              <div class="left">
                <div class="des">年化收益率(%)</div>
                <div class="rate">8<span class="last">.00</span></div>
              </div>
              <span class="line-Upright"></span>
              <div class="right">
                <div class="des">锁定期限(天)</div>
                <div class="day">110</div>
              </div>
            </div>
            <div class="home-Content-Main-3 clearfix">
              <span class="des-1"></span>
              <span class="des-2">一次还本付息</span>
              <span class="des-5">1,000元</span>
              <span class="des-4">起投金额</span>
              <span class="des-3"></span>
            </div>
          </div>

          <div class="home-Content-Main">
            <div class="home-Content-Main-1 clearfix">
              <span class="title-1">聚诚宝:测试数据一定要长</span>
              <span class="title-3">保本信息</span>
              <span class="title-2">新手标</span>
            </div>
            <div class="home-Content-Main-2 clearfix">
              <div class="left">
                <div class="des">年化收益率(%)</div>
                <div class="rate">8<span class="last">.00</span></div>
              </div>
              <span class="line-Upright"></span>
              <div class="right">
                <div class="des">锁定期限(天)</div>
                <div class="day">110</div>
              </div>
            </div>
            <div class="home-Content-Main-3 clearfix">
              <span class="des-1"></span>
              <span class="des-2">一次还本付息</span>
              <span class="des-5">1,000元</span>
              <span class="des-4">起投金额</span>
              <span class="des-3"></span>
            </div>
          </div>

          <div class="home-Content-Main">
            <div class="home-Content-Main-1 clearfix">
              <span class="title-1">聚诚宝:测试数据一定要长</span>
              <span class="title-3">保本信息</span>
              <span class="title-2">新手标</span>
            </div>
            <div class="home-Content-Main-2 clearfix">
              <div class="left">
                <div class="des">年化收益率(%)</div>
                <div class="rate">8<span class="last">.00</span></div>
              </div>
              <span class="line-Upright"></span>
              <div class="right">
                <div class="des">锁定期限(天)</div>
                <div class="day">110</div>
              </div>
            </div>
            <div class="home-Content-Main-3 clearfix">
              <span class="des-1"></span>
              <span class="des-2">一次还本付息</span>
              <span class="des-5">1,000元</span>
              <span class="des-4">起投金额</span>
              <span class="des-3"></span>
            </div>
          </div>

        </div>
        <!-- 底部 -->
        <div class="home-Footer">
          <div class="menu active">
            <span class="menu-1"></span>
            <div>首页</div>
          </div>
          <div class="menu">
            <span class="menu-2"></span>
            <div>散标</div>
          </div>
          <div class="menu">
            <span class="menu-3"></span>
            <div>固收</div>
          </div>
          <div class="menu">
            <span class="menu-4"></span>
            <div>我的</div>
          </div>
        </div>
    </div>





<!-- <script type="text/javascript">
  if (window.addEventListener) {
      var circle = document.querySelectorAll("circle")[1];
      var percent = 90 / 100, perimeter = Math.PI * 2 * 170;
              circle.setAttribute('stroke-dasharray', perimeter * percent + " " + perimeter * (1- percent));
  }
</script> -->

    
    <script type="text/javascript" src="../js/reset.js"></script>
  </body>
</html>
